<% include ../partials/header%>
<div class="row">
    <div class="col-md-4">
        <h1><%=user.firstName%>  <%=user.lastName%></h1>
        <% if (currentUser) { %>
        Click <a href="/users/<%=user.id%>/edit">here</a> to update profile's information
        <% } %>
        <div class="thumbnail">
            <img src="<%=user.avatar%>" alt="user profile image">
            <div class="caption"><a href="mailto:<%=user.mail%>"><%=user.mail%></a></div>
        </div>
        <%= user.description %>
    </div>
    <div class="col-md-8">
        <h3><%=user.username%>'s posts</h3>
        <ul>
        <% posts.forEach(function(post) { %>
        <li><a href="/posts/<%=post.id %>"><%= post.name%></a></li>
        <% }); %>
        </ul>
    </div>
</div>
<% include ../partials/footer %>